body {
    background-color: blanchedalmond;
    transition: background-color 0.5s ease;
}

/* Add styles for dark mode */
body.dark-mode {
    background-color: #333;
    color: white;
}

li {
    list-style: none;
}

.login,
.title,
.add-tasks,
.upload-tasks,
.tasks,
.task-completed {
    font-family: 'Arial', sans-serif;
}

#title {
    margin-top: 5px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: palevioletred;
}

.login,
.add-tasks,
.upload-tasks,
.tasks,
.task-completed {
    font-size: 30px;
    font-weight: bold;
}

.login {
    color: brown;
}

.add:hover,
.delete:hover,
.edit:hover,
.clear:hover {
    color: palevioletred;
}

#mode-toggle {
    background-color: palevioletred;
    font-size: 18px;
    padding: 10px 50px;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

#completed-tasks label {
    text-decoration: line-through;
    color: #888;
}

.clear-tasks {
    float: right;
    text-align: center;
}

#clear {
    background-color: palevioletred;
    font-size: 18px;
    padding: 10px 50px;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}